
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >

<form method="post">
<html xmlns= "http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 

<head> <title>Welcome</title> </head> <body>
<div> Welcome to The Arcane Word </div>


<div> <table>
<th>User Name</th> <th>PIN </th>
<tr>


<td> <input type = "text" name = "ausername" value = "" size = "20"</td>
<td> <input type = "text" name = "pin1" value = "" size = "2"</td>
<td> <input type = "text" name = "pin2” value = "" size = "2"</td>
<td> <input type = "text" name = "pin3" value = "" size = "2"</td>
<td> <input type = "text" name = "pin4" value = "" size = "2"</td>

<td> <input type = "submit" name="Open" value = "Open" form action = /static/usergame/> </td>
<td> <input name=”authenticity_token” value= ”<%=form_authenticity_token %>” type= “hidden” >  </td>


</table></div>
</body> </form>
</html>



