    
<form  method="post">
<input type="submit" name="Open" value="Open" formaction=/static/usergames >
<input type =“hidden” name="authenticity_token" value="<%= form_authenticity_token %>" >
</form>

