
 
<%      


       aForm = "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">"
	aForm = aForm + " <form action=\"/board\" method=\"post\"> "
	aForm = aForm + "<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\"> "
    aForm = aForm + "<head> <title>Current Board</title> </head> <body>"
	
    aForm = aForm +  " <div> Enter Your Tiles<table>  <tr> "
    
    i = 0
    while i < 7
        aForm = aForm + "<td>" 
        aForm = aForm + "<input type = \"text\""
        aForm = aForm + " value = \"#{$aGame.currentplayertileset[i]}\" "
        aForm = aForm + " size =\"1\" name = \"#{@tilename[i]}\" "
        aForm = aForm + " </td>"
        i += 1
    end

    aForm = aForm  + "<td> <input type = \"submit\" value = \"Find Moves\" formaction = \"/gettingresults\"/> </td> "
    aForm = aForm +  " </tr> </table> </div>"
    
    aForm = aForm +  " <div> Enter Current Board <table> "
	aForm = aForm + "<table> "
    aForm = aForm + "<tr> <td> ... </td> "
    i = 0
    while i < 15
        aForm = aForm + "<td>#{i}</td>"
    i += 1
    end
       i = 0
    aForm = aForm + "</tr> "

	while i < 15
			aForm = aForm + "<tr>"
            aForm = aForm + "<td>#{i}</td>"
            j = 0
			while j < 15
				aForm = aForm + "<td"
                aForm = aForm + " bgcolor=#0000FF" if ($aWordfriend.myboard.newgrid[i][j] == 'n')
                aForm = aForm + " bgcolor=#000000" if ($aWordfriend.myboard.lettergrid[i][j] != '-')
                aForm = aForm + ">"
                aForm = aForm + "<input type = \"text\" class=\"jander2\"  "
                if $aWordfriend.myboard.lettergrid[i][j] == '-' && $aWordfriend.myboard.scoregrid[i][j] == 'W'
                    aForm = aForm + " placeholder =\"tw\""
                elsif $aWordfriend.myboard.lettergrid[i][j] == '-' && $aWordfriend.myboard.scoregrid[i][j] == 'w'
                    aForm = aForm + " placeholder =\"dw\""
                elsif $aWordfriend.myboard.lettergrid[i][j] == '-' && $aWordfriend.myboard.scoregrid[i][j] == 'L'
                    aForm = aForm + " placeholder =\"tl\""
                elsif $aWordfriend.myboard.lettergrid[i][j] == '-' && $aWordfriend.myboard.scoregrid[i][j] == 'l'
                    aForm = aForm + " placeholder =\"dl\""
                else aForm = aForm + " value =\"#{$aWordfriend.myboard.lettergrid[i][j]}\""
                end
                aForm = aForm + " size =\"1\" name =\"#{@posname[i][j]}\""
                j += 1
                aForm = aForm + " </td>"
			end
	aForm = aForm + "</tr>"
       i += 1
	end
aForm = aForm + "</table></div>"

aForm = aForm + "</body> </form> </html>"

return aForm
%>
 
 
