
 
<%      

aForm = "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">"
aForm = aForm + " <form action=\"/board\" method=\"post\"> "
aForm = aForm + "<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\"> "
aForm = aForm + "<head> <title>Results</title> </head> <body> <div> <table> "
aForm = aForm + "<th>Total</th> <th>Direct</th> <th>Supplement</th> <th>Word</th> <th>Row</th> <th>Col</th> <th>Drx</th> <th>Choose</th>"
$aWordfriend.possiblewords.take(100).each_index {|i| aSW = $aWordfriend.possiblewords[i]
aForm = aForm + "<tr>"
aForm = aForm + "<td> <input type = \"text\" name = \"scoretotal#{i}\" value =\"#{aSW.score + aSW.supplement}\" size = \"4\"</td>"
aForm = aForm + "<td> <input type = \"text\" name = \"score#{i}\" value =\"#{aSW.score}\" size = \"4\"</td>"
aForm = aForm + "<td> <input type = \"text\" name = \"supplement#{i}\" value =\"#{aSW.supplement}\" size = \"4\"</td>"
aForm = aForm + "<td> <input type = \"text\" name = \"word#{i}\" value =\"#{aSW.astring}\" </td>"
aForm = aForm + "<td> <input type = \"text\" name = \"xcoordinate#{i}\" value =\"#{aSW.xcoordinate}\" size = \"2\"</td>"
aForm = aForm + "<td> <input type = \"text\" name = \"ycoordinate#{i}\" value =\"#{aSW.ycoordinate}\" size = \"2\"</td>"
aForm = aForm + "<td> <input type = \"text\" name = \"direction#{i}\" value =\"#{aSW.direction}\" size = \"4\"</td>"
aForm = aForm  + "<td> <input type = \"submit\" name=\"choice\" value = \"#{i}\" formaction = \"/updatedPvCFind\"/> </td> "
}
aForm = aForm + "</table></div>"


aForm = aForm + "</body> </form> </html>"

return aForm
%>
 
 
